$logoColor:            #434343;
$spanColor:            #333;
$backgoundColor:       #2a2d32;
$linkColor:            #fff;
$linkBorderColor:      #181a1d;
$linkHoverColor:       #f4b60d;
$linkSelectedColor:    #248cec;
$inputBorderColor:     #181a1d;
$inputBackgroundColor: rgba(255, 255, 255, .05);
$inputColor:           #fff;