$headerTextColor:             #333;
$ideaTextColor:               #fff;
$glassColor:                  rgba(0, 0, 0, .2);
$searchBorderColor:           #ccc;
$searchShadowColor:           #eee;
$inputFontColor:              #999;
$searchButtonBackgroundColor: #ff4e50;
