/** {
  margin: 0;
  padding: 0;
}*/

/*body {
  background: #282828;
  font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
}*/

body {
  background: #282828;
  background-image: url('../img/maket.png');
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
}

.wrapper {
  width: 1000px;
  height: 1309px;
  margin: auto;
  background: #fff;
  border: 1px solid black;
  opacity: .5;
}

header {
  width: 922px;
  height: 328px;
  margin: 9px 0 0 44px;
  overflow: hidden;
}

.topHeader {
  display: inline-block;
  padding: 20px 0 0 0;
  font-size: 18px;
  line-height: 25px;
}

.telephone::before {

}

.bottomHeader {
  width: 99%;
  height: 11%;
  margin: 1px 0 0 0;
  padding: 0 0 0 0;
  border: 1px solid black;
}

nav {
  width: 500px;
  height: 50px;
  padding-left: 94px;
}

.main-menu {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.main-menu li {
  list-style: none;
  float: left;
  margin: 0 0 0 0;
}

.main-menu li a {
  display: block;
  margin: 1px;
  padding: 0 0 0 0;
  color: #000;
  line-height: 34px;
  text-decoration: none;
  font-size: 13px;
}
