* {
  margin: 0;
  padding: 0;
}

/*body {
  background: #282828;
  font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
}*/

body {
  background: #282828;
  background-image: url('../img/maket.png');
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
}



.wrapper {
  width: 1000px;
  height: 1309px;
  margin: auto;
  background: #fff;
  border: 1px solid black;
  opacity: .5;
}

header {
  width: 922px;
  height: 328px;
  margin: 15px 45px;
  overflow: hidden;
}

.topHeader {
  display: inline-block;
  padding: 7px 0;
  font-size: 18px;
  line-height: 25px;
}
