body {
  background-image: url('../img/background.jpg');
}

.wrapper {
  margin: 38px auto 0;
  width: 1000px;
  height: 988px;
  background: #ffffff;
  border-bottom: 3px solid #031d28;
}

/* HEADER */
.header {
  display: block;
  height: 175px;
  margin-left: 28px;
}

.logo-image {
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 283px;
  height: 164px;
}

.logo-text {
  position: absolute;
  top: 142px;
  right: 1240px;
  font: 12px "Tahoma Regular";
  color: #128aa7;
}

/* CONTENT */
.content{
  display: block;
  margin: auto;
  width: 1000px;
  overflow: hidden;
}

.leftColumn{
  display: inline;
  width: 210px;
  float: left;
  background: red;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}

.centerColumn{
  display: inline;
  width: 580px;
  float: left;
  background: yellow;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}

.rightColumn{
  display: inline;
  width: 210px;
  float: right;
  background: blue;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}

/* FOOTER */
.footer {
  display: block;
  margin: 8px;
  font: 12px "Tahoma Regular";
  text-align: center;
  color: #cee3ec;
}
