body {
  background-image: url('../img/background.jpg');
}

.wrapper {
  margin: 38px auto;
  width: 1000px;
  height: 988px;
  background: #ffffff;
}

/* HEADER */
.header {
  display: block;
  height: 175px;
  margin-left: 28px;
}

.logo-image {
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 283px;
  height: 164px;
}

.logo-text {
  position: absolute;
  top: 142px;
  right: 1240px;
  font: 12px "Tahoma Regular";
  color: #128aa7;
}

/* CONTENT */
.content{
  display: block;
  margin: auto;
  width: 800px;
  overflow: hidden;
}

.leftColumn{
  display: inline;
  width: 25%;
  float: left;
  background: red;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}

.centerColumn{
  display: inline;
  width: 50%;
  float: left;
  background: yellow;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}

.rightColumn{
  display: inline;
  width: 25%;
  float: right;
  background: blue;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}

/* FOOTER */
