* {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 5px solid #000;
  text-align: center;
}

td {
  height: 90px;
  width: 180px;
}

.second td {
  height: 180px;
}

.third td, .fourth td {
  height: 180px;
  width: 90px;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
  opacity: .8;
}

.blue {
  background-color: blue;
}
