@import '../mobile';

& {
  margin: px(165) 0 0;
  display: flex;
  justify-content: space-around;

  div {
    margin: 0 px(75) px(32);

    h3 {
      margin: px(32) auto;
    }

    ul {
      display: initial;

      li {
        margin: 0;
        display: block;
      }
    }
  }
}
