@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,800&subset=latin,cyrillic');

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

header {
    display: block;
}

nav {
    display: block;
}

section {
    display: block;
}

main {
    display: block;
}

article {
    display: block;
}

aside {
    display: block;
}

footer {
    display: block;
}

body {
    background: url('../img/background.jpg') repeat-x center 0;
    background-position: center 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.logo {
    margin: 60px 0 0 -2px;
    float: left;
}

.logo h1 {
    float: left;
    color: #fff;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 300;
    text-shadow: 0 2px rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.logo span {
    background: -webkit-repeating-linear-gradient(#745083, #322539);
    color: #322539;
    text-shadow: 0 0 rgba(0, 0, 0, .3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-wrapper {
    margin: 70px 0 0;
    float: right;
}

.menu__item {
    display: block;
    margin: 0 0 0 44px;
    padding: 0 4px 0 7px;
    float: left;
    list-style: none;
}

.menu__link {
    color: #fff;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: -.35px;
    text-decoration: none;
    text-shadow: -2px 2px rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.menu__item:hover {
    border-bottom: 2px solid #edbfff;
}

.menu__item--selected {
    border-bottom: 2px solid #edbfff;
}

.slider {
    position: absolute;
    top: 276px;
    left: 0;
    width: 100%;
    height: 400px;
    background: url('../img/sliderbg.png');
    z-index: -99;
}

.slider__wrapper {
    width: 960px;
    margin: 0 auto;
}


.slider__iphone {
    display: block;
    height: 434px;
    margin: -16px 72px 0 0;
    float: right;
}

.slider__lorem {
    width: 515px;
    margin: 72px 0 0 -4px;
    float: left;
}

.slider__header {
    color: #fefefe;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 300;
    text-shadow: 0 2px rgba(0, 0, 0, .3);
}

.slider__slogan {
    margin: -10px 0 0 2px;
    color: #edbfff;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-shadow: 0 2px rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.slider__info {
    margin: 2px 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0 2px rgba(0, 0, 0, .3);
}

.slider__span {
    display: none;
    margin: 2px 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0 2px rgba(0, 0, 0, .3);
}

.navi__wrapper {
    position: absolute;
    top: 743px;
    width: 960px;
    margin: 0 auto;
}

.navi {
    margin: 0 169px 0 0;
    float: right;
}

.navi__button {
    width: 17px;
    height: 17px;
    margin: 0 0 0 7px;
    float: right;
    border-radius: 17px;
    background: url('../img/navi.png');
    cursor: pointer;
}

.navi__button--selected {
    background: url('../img/navi--hover.png');
}

.navi__button:hover {
    background: url('../img/navi--hover.png');
}

.navi--testimonials.navi {
    margin: 4px 0 0 201px;
    float: left;
}

.navi--testimonials .navi__button {
    width: 17px;
    height: 17px;
    margin: 0 0 0 5px;
    border: 0;
    background: url('../img/navi__t.png');
    cursor: pointer;
}

.navi--testimonials .navi__button:hover {
    background: url('../img/navi__t--hover.png');
}

.navi--testimonials .navi__button--selected {
    background: url('../img/navi__t--hover.png');
}

.blurbs {
    position: absolute;
    top: 795px;
    left: 0;
    width: 100%;
    height: 340px;
    /*margin: 59px 0 0;*/
    border-top: 1px solid #33253a;
    background: #322539;
    /*background: linear-gradient(#745083 0%, #322539 100%);*/
}

.blurbs__wrapper {
    width: 960px;
    margin: 70px auto 0;
}

.blurb {
    margin: 2px 0 0;
    float: left;
}

.blurb__logo {
    width: 30px;
    height: 28px;
    margin: 10px 23px 0 8px;
    float: left;
    background: url('../img/tools.png') 0 0 no-repeat;
}

.blurb--chat .blurb__logo {
    margin: 13px 24px 0 59px;
    background-position: -28px 0;
}

.blurb--media .blurb__logo {
    margin: 13px 19px 0 59px;
    background-position: -61px 0;
}


.blurb__info {
    width: 226px;
    margin: 0;
    float: left;
    clear: right;
    color: #fff;
}

.blurb__header {
    margin: 0 0 0 1px;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.blurb__description {
    margin: 5px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-shadow: 0 1px #0f1518;
}

.blurb--chat .blurb__more {
    margin: 17px 5px 0 0;
}

.blurb--media .blurb__more {
    margin: 17px 3px 0 0;
}

.blurb__more {
    margin: 17px 10px 0 0;
    float: right;
    clear: both;
    color: #fff;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}

.blurb__more:hover {
    text-shadow: 0 1px 8px rgba(255, 255, 255, .8);
}

.blurb__more--selected {
    text-shadow: 0 1px 8px rgba(255, 255, 255, .8);
}



.blurbs-line {
    position: absolute;
    top: 1135px;
    left: 0;
    width: 100%;
    height: 1px;
    /*margin: 400px 0 0;*/
    border-bottom: 1px solid #0d151b;
    background: #1d2f37;
    z-index: 9;
}


.main {
    position: absolute;
    top: 1136px;
    left: 0;
    width: 100%;
    height: 486px;
    /*margin: 404px 0 0;*/
    border-bottom: 1px solid #e6e6e6;
    background: #f9f9f9;
}

.main__wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 97px 0 0;
    background: url('../img/mainbg.png') no-repeat center 0;
}

.testimonials {
    margin: 0 0 0 -12px;
    float: left;
}

.testimonials__logo {
    position: absolute;
    margin: 18px 0 0 10px;
}

.testimonials__info {
    width: 427px;
    height: 272px;
    margin: 0 0 0 34px;
    /*background: #fff;*/
    background: url('../img/testimonialbg.png');
    color: #454545;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .05);
    overflow: hidden;
}

.testimonials__header {
    margin: 25px 0 0 39px;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-shadow: 0 1px #fff;
    text-transform: uppercase;
}

.testimonials__span {
    color: #edbfff;

}

.testimonials__description {
    margin: 6px 30px 0 38px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.testimonials__triangle {
    display: none;
}

.updates {
    margin: 32px 0 0 60px;
    float: left;
}

.updates__header {
    margin: -6px 0 0 -1px;
    color: #454545;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-shadow: 0 1px #fff;
    text-transform: uppercase;
}

.updates__posts {
    margin: 13px 0 0;
}

.updates__post {
    margin: 0 0 17px;
}

.post__image {
    margin: 0;
    float: left;
}

.post__info {
    margin: 0 0 0 16px;
    float: left;
    font-family: 'Open Sans', sans-serif;
}

.post__header {
    margin: 0 0 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-shadow: 0 1px #fff;
}

.post__description {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-shadow: 0 1px #fff;
}

.updates__more {
    display: block;
    margin: 19px 0 0 345px;
    color: #454545;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}

.logos {
    position: absolute;
    top: 1622px;
    left: 0;
    width: 100%;
    height: 120px;
    /*margin: 891px 0 0;*/
    border-bottom: 1px solid #e6e6e6;
    background: #f9f9f9;
}

.logos__wrapper {
    width: 960px;
    margin: 22px auto 0;
}

.brand-logo {
    width: 69px;
    height: 65px;
    margin: 0 0 0 92px;
    float: left;
    background: url('../img/brands.png') 0 0 no-repeat;
}

.brand-logo.brand-logo--dg {
    width: 72px;
    margin: 0 0 0 65px;
    background-position: -71px 0;
}

.brand-logo.brand-logo--tr {
    width: 65px;
    margin: 0 0 0 64px;
    background-position: -145px 0;
}

.brand-logo.brand-logo--awsm {
    width: 50px;
    margin: 1px 0 0 75px;
    background-position: -212px 0;
}

.brand-logo.brand-logo--rvca {
    width: 103px;
    margin: 1px 0 0 68px;
    background-position: -264px 0;
}

.brand-logo.brand-logo--vz {
    width: 78px;
    margin: 1px 0 0 66px;
    background-position: -369px 0;
}

.footer-posts {
    position: absolute;
    top: 1743px;
    left: 0;
    width: 100%;
    height: 396px;
    /*margin: 1012px 0 0;*/
    background: #ececec;
}

.footer-posts__wrapper {
    width: 960px;
    margin: 0 auto;
}

.footer-post {
    width: 282px;
    height: 215px;
    margin: 89px 1px 0 57px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    overflow: hidden;
}

.footer-post--pigbuller.footer-post {
    margin: 85px 0 0 -3px;
}

.footer-post__header {
    margin: 0 0 5px;
    color: #454545;
    font-family: 'League Gothic', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.footer-post--pigbuller .footer-post__header {
    font-size: 48px;
}

.footer-post--pigbuller .footer-post__span {
    color: #b9b9b9;
}

.footer-post--pigbuller .footer-post__slogan {
    display: block;
    margin: 7px 0 9px 1px;
    color: #c5c5c5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-post__text {
    margin: 0;
    color: #787878;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.main-footer {
    position: absolute;
    top: 2138px;
    left: 0;
    width: 100%;
    height: 114px;
    /*margin: 1408px 0 0;*/
    background: url('../img/footer960.jpg') repeat-x center 0;
}

.footer__wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 41px 0 0;
    background: url('../img/fshadow.png') no-repeat center 0;
}

.menu.menu--footer {
    margin: 0 0 0 -8px;
}

.menu--footer .menu__item {
    margin: 0 34px 0 0;
}

.menu--footer .menu__link {
    font-size: 20px;
}

.copy {
    margin: 6px 0 0;
    float: right;
}

.copy__info {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
}

.copy__span {
    font-weight: 900;
}


/*          768PX           */
/*      960 = -729px        */
@media screen and (max-width: 960px) {
    .container {
        width: 768px;
    }

    .logo {
        margin: 60px 0 0 19px;
    }

    .menu-wrapper {
        margin: 21px 0 0 15px;
        float: left;
    }

    .menu__item {
        margin: 0 42px 0 0;
    }

    .slider {
        top: 244px;
    }

    .slider__wrapper {
        width: 768px;
        margin: 0 auto;
    }


    .slider__iphone {
        margin: -23px 48px 0 0;
    }

    .slider__lorem {
        width: 275px;
        margin: 92px 0 0 42px;
    }

    .slider__header {
        font-size: 48px;
    }

    .slider__slogan {
        height: 24px;
        margin: 0;
        font-size: 24px;
        overflow: hidden;
    }

    .slider__info {
        display: none;
        /*word-wrap: break-word;*/
    }

    .slider__span {
        display: block;
        margin: 10px 0;
        font-size: 16px;
        line-height: 26px;
        word-wrap: break-word;
    }

    .navi__wrapper {
        /*top: 543px;*/
        width: 768px;
    }

    .navi {
        margin: 0 145px 0 0;
    }


    .blurbs__wrapper {
        width: 768px;
    }

    .blurb {
        margin: 4px 18px 0 0;
    }

    .blurb__info {
        width: 153px;
        height: 173px;
        overflow: hidden;
    }

    .blurb__header {
        font-size: 24px;
    }

    .blurb__logo {
        margin: 7px 19px 0 32px;
    }

    .blurb--chat .blurb__logo {
        margin: 6px 23px 0 29px;
    }


    .blurb--media .blurb__logo {
        margin: 7px 23px 0 37px;
    }

    .blurb__header {
        margin: 0 1px;
    }

    .blurb--chat .blurb__header {
        margin: 0 -1px;
    }

    .blurb--media .blurb__header {
        margin: 0 -1px;
    }

    .blurb__description {
        margin: 1px 0 0;
        line-height: 24px;
    }

    .blurb__more {
        margin: 7px 5px 0 0;
    }

    .blurb--chat .blurb__more {
        margin: 7px 7px 0 0;
    }

    .blurb--media .blurb__more {
        margin: 7px 7px 0 0;
    }

    .main {
        /*top: 703px;*/
        height: 486px;
    }

    .main__wrapper {
        width: 768px;
        padding: 57px 0 0;
    }

    .testimonials {
        margin: 44px 0 0 8px;
    }

    .testimonials__info {
        width: 310px;
    }

    .testimonials__header {
        font-size: 24px;
    }

    .testimonials__span {
        display: block;
        margin: -4px 0 0 1px;
    }

    .testimonials__description {
        width: 255px;
        height: 150px;
        overflow: hidden;
    }

    .navi--testimonials.navi {
        margin: 20px 0 0 144px;
    }

    .updates {
        width: 354px;
        margin: 75px 0 0 25px;
        float: right;
    }

    .updates__post {
        margin: 0 0 18px;
    }

    .post__image {
        margin: 0;
    }

    .post__info {
        width: 260px;
    }

    .post__description {
        height: 20px;
        overflow: hidden;
    }

    .updates__more {
        margin: -2px 0 0 239px;
    }

    .logos__wrapper {
        width: 768px;
        margin: 25px auto 0;
    }

    .brand-logo {
        width: 69px;
        height: 65px;
        margin: 0 0 0 21px;
        float: left;
        background: url('../img/brands.png') 0 0 no-repeat;
    }

    .brand-logo.brand-logo--dg {
        width: 72px;
        margin: 0 0 0 55px;
        background-position-x: -71px;
    }

    .brand-logo.brand-logo--tr {
        width: 65px;
        margin: 0 0 0 54px;
        background-position-x: -145px;
    }

    .brand-logo.brand-logo--awsm {
        width: 50px;
        margin: 1px 0 0 65px;
        background-position-x: -212px;
    }

    .brand-logo.brand-logo--rvca {
        width: 103px;
        margin: 1px 0 0 58px;
        background-position-x: -264px;
    }

    .brand-logo.brand-logo--vz {
        width: 78px;
        margin: 1px 0 0 56px;
        background-position-x: -369px;
    }

    .footer-posts__wrapper {
        width: 768px;
        margin: 0 auto;
    }

    .footer-post {
        width: 210px;
        height: 210px;
        margin: 97px -2px 0 55px;
    }

    .footer-post--pigbuller.footer-post {
        margin: 91px 0 0 19px;
    }

    .footer-post--pigbuller .footer-post__header {
        margin: 0;
        font-size: 30px;
    }

    .footer-post__header {
        margin: 0 0 7px;
        font-size: 24px;
    }

    .footer-post__text {
        font-size: 16px;
        line-height: 24px;
    }

    .main-footer {
        height: 201px;
        /*top: 1703px;*/
        background: url('../img/footer768.jpg');
    }

    .footer__wrapper {
        width: 768px;
        margin: 0 auto;
        padding: 43px 0 0;
    }

    .menu.menu--footer {
        margin: 0 0 0 11px;
    }

    .copy {
        margin: 55px 22px 0 0;
    }

}

/*          480PX           */
/*      768 = -825px        */
@media screen and (max-width: 768px) {
    /*.main-header {
        height: 548px;
    }*/

    .container {
        width: 480px;
    }

    .logo {
        width: 155px;
        margin: 61px auto;
        float: none;
        /*clear: both;*/
    }

    .menu-wrapper {
        width: 100%;
        margin: 0;
        padding-top: 11px;
        float: initial;
        clear: both;
    }

    .menu {
        width: 252px;
        margin: 0 auto;
        /*border: 1px solid #051116;*/
        /*border-radius: 10px;*/
        background: url('../img/menubg.png');
        /*background: rgba(54, 41, 62, .9);*/
        text-align: center;
        box-shadow: 0 3px 5px 5px rgba(0, 0, 0, .2);
    }


    .menu__item {
        display: block;
        margin: 0 5px;
        float: none;
        clear: both;
        border-bottom: 2px solid #051116;
        /*border-bottom: 2px solid transparent;*/
        box-shadow: inset 0 2px rgba(105, 82, 114, .59);
        cursor: pointer;
    }

    .menu__link {
        margin: 0 7px 0 0;
        letter-spacing: -.3px;
        line-height: 41px;
    }

    .menu__item:first-child {
        border-radius: 10px 10px 0 0;
    }

    .menu__item.last-child {
        /*background: green;*/
        margin: 0 7px;
    }

    .menu__item:hover {
        background: url('../img/menu--hover.png');
        /*background: rgba(0, 0, 0, .2);*/
    }

    .menu__item:hover a {
        border-bottom: 2px solid transparent;
    }

    .menu__item--selected a {
        padding: 0 6px 6px;
        border-bottom: 2px solid #edbfff;
        box-sizing: border-box;
    }

    .slider {
        top: 203px;
        height: 246px;
    }

    .slider__wrapper {
        width: 480px;
        margin: 0 auto;
    }

    .slider__iphone {
        height: 304px;
        margin: -9px 32px 0 0;
    }

    .slider__lorem {
        width: 210px;
        margin: 89px 0 0 40px;
    }

    .slider__header {
        font-size: 36px;
    }

    .slider__slogan {
        height: 18px;
        margin: -3px 0 0 -1px;
        font-size: 18px;
    }

    .slider__span {
        display: none;
    }

    .navi__wrapper {
        top: 475px;
        width: 480px;
        /*margin: 81px auto 0;*/
    }

    .navi {
        margin: 0 196px 0 0;
    }

    .blurbs {
        top: 550px;
        height: 596px;
        /*margin: 61px 0 0;*/
    }

    .blurbs__wrapper {
        width: 480px;
        margin: 74px auto 0;
    }

    .blurb {
        margin: 0 0 55px;
        float: unset;
    }

    .blurb__logo {
        margin: 7px 19px 0 33px;
    }

    .blurb--chat .blurb__logo {
        margin: 7px 23px 0 30px;
    }


    .blurb--media .blurb__logo {
        margin: 7px 23px 0 10px;
    }


    .blurb__info {
        width: 390px;
        height: 100px;
    }

    .blurb__more {
        margin: 14px 27px 0 0;
    }

    .blurb--chat .blurb__more {
        margin: 13px 27px 0 0;
    }

    .blurb--media .blurb__more {
        margin: 13px 27px 0 0;
    }

    .blurb--media.blurb {
        margin: 0 0 0 20px;
    }

    .blurbs-line {
        top: 1145px;
        /*margin: 658px 0 0;*/
    }

    .main {
        top: 1146px;
        height: 786px;
        /*margin: 661px 0 0;*/
    }

    .main__wrapper {
        width: 480px;
        margin: 0 auto;
        padding: 56px 0 0;
    }

    .testimonials {
        margin: 13px 0 100px 10px;
        float: initial;
    }

    .testimonials__header {
        margin: 23px 0 0 38px;
        font-size: 30px;
    }

    .testimonials__info {
        width: 415px;
    }

    .testimonials__span {
        display: initial;
    }

    .testimonials__description {
        width: 350px;
        height: 250px;
        margin: 11px 0 0 38px;
    }

    .testimonials__triangle {
        display: none;
    }

    .navi--testimonials.navi {
        margin: 4px 0 0 189px;
    }

    .updates {
        margin: 91px 0 0 83px;
        float: none;
        clear: both;
    }

    .updates__more {
        margin: -1px 0 0 249px;
    }

    .logos {
        top: 1934px;
        height: 231px;
        /*margin: 1448px 0 0;*/
    }

    .logos__wrapper {
        width: 480px;
        margin: 36px auto 0;
    }

    .brand-logo {
        width: 69px;
        height: 65px;
        margin: 0 0 0 82px;
        float: left;
        background: url('../img/brands.png') 0 0 no-repeat;
    }

    .brand-logo.brand-logo--dg {
        width: 72px;
        margin: 0 0 0 55px;
        background-position-x: -71px;
    }

    .brand-logo.brand-logo--tr {
        width: 65px;
        margin: 0 0 0 54px;
        background-position-x: -145px;
    }

    .brand-logo.brand-logo--awsm {
        width: 50px;
        margin: 26px 0 0 67px;
        background-position-x: -212px;
    }

    .brand-logo.brand-logo--rvca {
        width: 103px;
        margin: 26px 0 0 58px;
        background-position-x: -264px;
    }

    .brand-logo.brand-logo--vz {
        width: 78px;
        margin: 26px 0 0 56px;
        background-position-x: -369px;
    }

    .footer-posts {
        top: 2167px;
        height: 668px;
        /*margin: 1680px 0 0;*/
    }

    .footer-posts__wrapper {
        width: 480px;
        margin: 0 auto;
    }

    .footer-post {
        width: 445px;
        height: 130px;
        margin: 61px 0 -3px 18px;
    }

    .footer-post--pigbuller .footer-post__slogan {
        margin: 0;
    }

    .footer-post--pigbuller.footer-post {
        margin: 70px 0 0 18px;
    }

    .main-footer {
        top: 2835px;
        height: 201px;
        /*margin: 2348px 0 0;*/
        background: url('../img/footer480.jpg');
    }

    .footer__wrapper {
        width: 480px;
        margin: 0 auto;
        padding: 44px 0 0;
    }

    .menu.menu--footer {
        width: 480px;
        margin: 0 0 0 15px;
        border: 0;
        box-shadow: none;
    }

    .menu--footer .menu__item {
        margin: 0 8px 0 0;
        float: left;
        clear: none;
        border-bottom: 2px solid transparent;
        border-radius: 0;
        box-shadow: none;
    }

    .menu--footer .menu__link {
        line-height: initial;
    }

    .menu--footer .menu__item:hover {
        border-bottom: 2px solid #edbfff;
        background: 0;
    }

    .copy {
        margin: 29px 172px 0 0;
    }

}

/*          320PX           */
/*      480 = -969px        */
@media screen and (max-width: 480px) {

    .container {
        width: 320px;
    }

    .menu-wrapper {
        height: 41px;
        padding-top: 17px;
        overflow: hidden;
    }

    .menu {
        border: 0;
        border-radius: 0;
        background: none;
        /*background: rgba(54, 41, 62, 0);*/
        box-shadow: 0 0 rgba(0, 0, 0, 0);
    }


    .menu__item {
        margin: 0;
        border-bottom: 0;
        background: none;
        box-shadow: 0 0 rgba(105, 82, 114, 0);
        cursor: auto;
    }

    .menu__item:hover {
        background: 0;
    }

    .menu__item--selected a {
        padding: 0 6px;
        border-bottom: 2px solid #edbfff;
    }

    .slider {
        top: 203px;
        background: rgba(0, 0, 0, 0);
    }

    .slider__wrapper {
        width: 210px;
        margin: 0 auto;
    }

    .slider__iphone {
        display: none;
    }

    .slider__lorem {
        width: 210px;
        margin: 89px 0 0 10px;
    }

    .slider__header {
        font-size: 36px;
    }

    .slider__slogan {
        height: 18px;
        margin: -3px 0 0 -1px;
        font-size: 18px;
    }

    .slider__span {
        display: none;
    }

    .navi__wrapper {
        width: 320px;
        /*margin: 254px auto 0;*/
    }

    .navi {
        margin: 0 116px 0 0;
    }

    .blurbs {
        margin: 69px 0 0;
    }

    .blurbs__wrapper {
        width: 320px;
        margin: 67px auto 0;
    }

    .blurb {
        margin: 0 0 57px;
    }

    .blurb__logo {
        margin: 7px 19px 0 32px;
    }

    .blurb--chat .blurb__logo {
        margin: 8px 24px 0 28px;
    }


    .blurb--media .blurb__logo {
        margin: 7px 22px 0 30px;
    }

    .blurb__info {
        width: 199px;
        height: 100px;
        overflow: hidden;
    }

    .blurb__more {
        margin: 15px 27px 0 0;
    }

    .blurb--chat .blurb__more {
        margin: 15px 27px 0 0;
    }

    .blurb--media .blurb__more {
        margin: 15px 27px 0 0;
    }

    .blurb--media.blurb {
        margin: 0;
    }

    .blurbs-line {
        top: 1215px;
        /*margin: 666px 0 0;*/
    }

    .main {
        top: 1216px;
        height: 786px;
        /*margin: 669px 0 0;*/
    }

    .main__wrapper {
        width: 320px;
        margin: 0 auto;
        padding: 56px 0 0;
    }

    .testimonials {
        margin: 13px 0 100px 9px;
    }

    .testimonials__info {
        width: 257px;
    }

    .testimonials__header {
        margin: 22px 0 0 35px;
        font-size: 24px;
    }

    .testimonials__span {
        display: block;
    }

    .testimonials__triangle {
        display: none;
    }

    .testimonials__description {
        width: 178px;
        height: 170px;
        margin: 1px 0 0 38px;
    }

    .navi--testimonials.navi {
        margin: 24px 0 0 126px;
    }

    .updates {
        margin: 91px 0 0 19px;
    }

    .updates__post {
        margin: 0 0 19px;
    }

    .post__info {
        width: 217px;
        overflow: hidden;
    }

    .post__header {
        width: 215px;
        height: 21px;
        overflow: hidden;
    }

    .updates__more {
        margin: -4px 0 0 187px;
    }

    .logos {
        top: 2004px;
        height: 420px;
        /*margin: 1456px 0 0;*/
    }

    .logos__wrapper {
        width: 320px;
        margin: 51px auto 0;
    }

    .brand-logo {
        width: 69px;
        height: 65px;
        margin: 0 0 0 61px;
        float: left;
        background: url('../img/brands.png') 0 0 no-repeat;
    }

    .brand-logo.brand-logo--dg {
        width: 72px;
        margin: 0 0 0 55px;
        background-position-x: -71px;
    }

    .brand-logo.brand-logo--tr {
        width: 65px;
        margin: 60px 0 0 69px;
        background-position-x: -145px;
    }

    .brand-logo.brand-logo--awsm {
        width: 50px;
        margin: 61px 0 0 65px;
        background-position-x: -212px;
    }

    .brand-logo.brand-logo--rvca {
        width: 103px;
        margin: 41px 0 0 41px;
        background-position-x: -264px;
    }

    .brand-logo.brand-logo--vz {
        width: 78px;
        margin: 41px 0 0 56px;
        background-position-x: -369px;
    }

    .footer-posts {
        display: none;
    }

    .main-footer {
        top: 2424px;
        /*margin: 1877px 0 0;*/
        background: url('../img/footer320.jpg');
    }

    .footer__wrapper {
        width: 320px;
        margin: 0 auto;
    }

    .menu.menu--footer {
        display: none;
    }

    .copy {
        margin: -6px 92px 0 0;
    }

}

@media screen and (max-width: 320px) {
    .container {
        width: 100%;
    }

}
