* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: LeagueGothic;
  src: url('../fonts/LeagueGothic.woff');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.woff');
}

body {
  background: url('../img/header_background.jpg') repeat-x center 0;
  background-position-x: center;
  /*background-size: cover;
  background-repeat: no-repeat;*/
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.nav-wrapper {
  width: 960px;
  margin: 0 auto;
}

.logo {
  float: left;
  margin: 73px 0 0 -4px;
}

.logo__link {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: LeagueGothic;
  font-size: 48px;
  text-decoration: none;
  line-height: 34px;
}

.logo--mod {
  background: -webkit-repeating-linear-gradient(#745083, #322539);
  text-shadow: 0 0 rgba(0, 0, 0, .3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  float: right;
  margin: 69px 0 0 0;
  font-family: LeagueGothic;
}

.menu__item {
  float: left;
  margin: 0 0 0 44px;
  padding: 0 1px 0 7px;
  list-style: none;
}

.menu--item--first {
  margin: 0 1px 0 0;
}

.menu__link {
  text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
  color: white;
  font-family: LeagueGothic;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__link:hover {
  border-bottom: 2px solid #edbfff;
  transition: none;
}



/*      SLIDER     */


.slider {
  width: 100%;
  height: 400px;
  margin: 167px 0 0 0;
  background: rgba(0, 0, 0, 0.2);
}

.container {
  width: 960px;
  margin: 0 auto;
}

.slider__iphone {
  float: right;
  height: 434px;
  margin: -16px 72px 0 0;
}

.slider__lorem {
  float: left;
  width: 515px;
  margin: 73px 0 0 -4px;
}

.slider__header {
  color: #fefefe;
  font-family: LeagueGothic, Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 300;
  text-shadow: 0 2px rgba(0, 0, 0, .3);
}

.slider__slogan {
  margin: -10px 0 0 2px;
  color: #edbfff;
  font-family: LeagueGothic, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-shadow: 0 2px rgba(0, 0, 0, .3);
}

.slider__info {
  margin: 2px 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 0 2px rgba(0, 0, 0, .3);
}

/*    NAVI    */

.navi__wrapper {
  margin: 95px auto 0;
}

.navi {
  float: right;
  margin: 0 169px 0 0;
}

.navi__button {
  float: right;
  width: 15px;
  height: 15px;
  margin: 0 0 0 7px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  box-sizing: border-box;
}

.navi__button:hover {
  border: 3px solid rgba(0, 0, 0, .5);
  background: linear-gradient(#d4d4d4 0%, #fff 100%);
}
