* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: LeagueGothic;
  src: url('../fonts/LeagueGothic.woff');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.woff');
}

body {
  background: url('../img/header_background.jpg') repeat-x center 0;
  background-position-x: center;
  /*background-size: cover;
  background-repeat: no-repeat;*/
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.nav-wrapper {
  width: 960px;
  margin: 0 auto;
}

.logo {
  float: left;
  margin: 73px 0 0 -4px;
}

.logo__link {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: LeagueGothic;
  font-size: 48px;
  text-decoration: none;
  line-height: 34px;
}

.logo--mod {
  background: -webkit-repeating-linear-gradient(#745083, #322539);
  text-shadow: 0 0 rgba(0, 0, 0, .3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  float: right;
  margin: 69px 0 0 0;
  font-family: LeagueGothic;
}

.menu__item {
  float: left;
  margin: 0 0 0 44px;
  padding: 0 1px 0 7px;
  list-style: none;
}

.menu--item--first {
  margin: 0 1px 0 0;
}

.menu__link {
  text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
  color: white;
  font-family: LeagueGothic;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__link:hover {
  border-bottom: 2px solid #edbfff;
  transition: none;
}



/*      SLIDER     */


.slider {
  width: 100%;
  height: 400px;
  margin: 167px 0 0 0;
  background: rgba(0, 0, 0, 0.2);
}

.container {
  width: 960px;
  margin: 0 auto;
}

.slider__iphone {
  float: right;
  height: 434px;
  margin: -16px 72px 0 0;
}

.slider__lorem {
  float: left;
  width: 515px;
  margin: 73px 0 0 -4px;
}

.slider__header {
  color: #fefefe;
  font-family: LeagueGothic, Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 300;
  text-shadow: 0 2px rgba(0, 0, 0, .3);
}

.slider__slogan {
  margin: -10px 0 0 2px;
  color: #edbfff;
  font-family: LeagueGothic, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-shadow: 0 2px rgba(0, 0, 0, .3);
}

.slider__info {
  margin: 2px 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 0 2px rgba(0, 0, 0, .3);
}

/*    NAVI    */

.navi__wrapper {
  margin: 95px auto 0;
}

.navi {
  float: right;
  margin: 0 169px 0 0;
}

.navi__button {
  float: right;
  width: 15px;
  height: 15px;
  margin: 0 0 0 7px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  box-sizing: border-box;
}

.navi__button:hover {
  border: 3px solid rgba(0, 0, 0, .5);
  background: linear-gradient(#d4d4d4 0%, #fff 100%);
}


/*    BLURBS:   ;*/

.blurbs {
  height: 340px;
  margin: 59px 0 0;
  border-top: 1px solid #33253a;
  background: #322539;
  background: linear-gradient(#745083 0%, #322539 100%);
}

.blurbs__wrapper {
  margin: 79px auto 0;
}

.blurb {
  float: left;
  margin: 2px 0 0;
}

.blurb__logo {
  float: left;
  width: 30px;
  height: 28px;
  margin: 10px 23px 0 8px;
  background: url('../img/tools.png');
}

.blurb__info {
  float: left;
  width: 226px;
  color: #fff;
}

.blurb__header {
  margin: 0 0 0 2px;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  text-shadow: 0.5px 0.9px 0 #0f1518;
  font-family: LeagueGothic;
  text-transform: uppercase;
}

.blurb__description {
  margin: 9px -1px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-shadow: 0.5px 0.9px 0 #0f1518;
  font-family: 'Open Sans', sans-serif;
}

.blurb__more {
  float: right;
  margin: 17px 10px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-shadow: 0.5px 0.9px 0 #0f1518;
  color: #fff;
  font-family: LeagueGothic, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.blurb__more:hover {
  text-shadow: 0 1px 8px rgba(255, 255, 255, .8);
}

.blurb--chat .blurb__logo {
  margin: 6px 24px 0 59px;
  background-position: -28px 0;
}

.blurb--media .blurb__logo {
  margin: 5px 19px 0 59px;
  background-position: -58px 0;
}

.line {
  height: 1px;
  border-bottom: 1px solid #0d151b;
  background: #1d2f37;
  z-index: 9;
}

.main {
  height: 486px;
  border-bottom: 1px solid #e6e6e6;
  background: #f9f9f9;
}

.main__wrapper {
  margin: 0 auto;
  padding: 99px 0 0;
  background: url('../img/arrows.png') no-repeat center 0;
}

.comments {
  margin: 0 0 0 -12px;
  float: left;
}

.comments__logo {
  position: relative;
  margin: 18px 0 0 10px;
}

.comments__info {
  width: 427px;
  height: 272px;
  margin: -73px 0 0 34px;
  background: #fff;
  color: #454545;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .05);
  overflow: hidden;
}

.comments__header {
  margin: 25px 0 0 39px;
  font-family: LeagueGothic, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-shadow: 0 1px #fff;
  text-transform: uppercase;
}

.comments__span {
  color: #edbfff;
}

.comments__description {
  margin: 6px 30px 0 38px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.comments__triangle {
  width: 0;
  height: 0;
  margin: 0 0 0 401px;
  border-width: 20px 0 0 0;
  border-style: solid;
  border-color: #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.navi--comments.navi {
  margin: 4px 0 0 201px;
  float: left;
}

.navi--comments .navi__button {
  width: 17px;
  height: 17px;
  margin: 0 0 0 5px;
  border: 1px solid #e6e6e6;
  background: #fff;
  box-shadow: 0 1px #fff;
}
.navi--comments .navi__button:hover {
  border-width: 2px;
  background: linear-gradient(#6a6a6a 0%, #454545 100%);
}

.updates {
  margin: 32px 0 0 60px;
  float: left;
}

.updates__header {
  margin: -6px 0 0 -1px;
  color: #454545;
  font-family: LeagueGothic, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-shadow: 0 1px #fff;
  text-transform: uppercase;
}

.updates__posts {
  margin: 13px 0 0;
}

.updates__post {
  margin: 0 0 17px;
}

.post__image {
  margin: 0;
  float: left;
}

.post__info {
  margin: 0 0 0 16px;
  float: left;
  font-family: 'Open Sans', sans-serif;
}

.post__header {
  margin: 0 0 3px;
  font-size: 16px;
  font-weight: 900;
  text-shadow: 0 1px #fff;
}

.post__description {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0 1px #fff;
}

.updates__more {
  display: block;
  margin: 19px 0 0 345px;
  color: #454545;
  font-family: 'League Gothic', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

/*     LOGOS    */
.logos {
  height: 119px;
  margin: 1px 0 0;
  border-bottom: 1px solid #e6e6e6;
  background: #f9f9f9;
}

.logos__image {
  width: 69px;
  height: 65px;
  margin: 23px 0 0 92px;
  float: left;
  background: url('../img/brands.png') 0 0 no-repeat;
}

.logos--dg.logos__image {
  width: 72px;
  margin: 23px 0 0 65px;
  background-position: -71px 0;
}

.logos--tr.logos__image {
  width: 65px;
  margin: 23px 0 0 64px;
  background-position: -145px 0;
}

.logos--awsm.logos__image {
  width: 50px;
  margin: 23px 0 0 75px;
  background-position: -212px 0;
}

.logos--rvca.logos__image {
  width: 103px;
  margin: 23px 0 0 68px;
  background-position: -264px 0;
}

.logos--vz.logos__image {
  width: 78px;
  margin: 23px 0 0 66px;
  background-position: -369px 0;
}

.footer-posts {
  height: 396px;
  background: #ececec;
}

.footer-post {
  width: 282px;
  height: 215px;
  margin: 91px 1px 0 57px;
  float: left;
  overflow: hidden;
}

.footer-post--pigbuller.footer-post {
  margin: 87px 0 0 -3px;
}

.footer-post--pigbuller .footer-post__header {
  font-size: 48px;
}

.footer-post__header {
  margin: 0 0 5px;
  color: #454545;
  font-family: LeagueGothic, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer-post--pigbuller .footer-post__span {
  color: #b9b9b9;
}

.footer-post--pigbuller .footer-post__slogan {
  display: block;
  margin: 7px 0 9px 1px;
  color: #c5c5c5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-post__text {
  margin: 0;
  color: #787878;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.footer__wrapper {
  padding: 38px 0 0;
  background: url('../img/fshadow.png') no-repeat center 0;
}

.footer {
  height: 114px;
  background: url('../img/footer960.jpg') repeat-x center 0;
}

.menu.menu--footer {
  margin: 0 0 0 -8px;
  float: left;
}

.menu--footer .menu__item {
  margin: 0 34px 0 0;
}

.menu--footer .menu__link {
  font-size: 20px;
}

.copy {
  margin: 10px 0 0;
  float: right;
}

.copy__info {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
}

.copy__span {
  font-weight: 900;
}
