& {
  > div {
    margin: px(76) 0;

    header {
      h2 {
        border: 0;
        text-align: center;
        font-size: px(44);
        font-weight: 700;
        font-family: Montserrat, Arial, sans-serif;
        color: $headerColor;
      }
    }

    main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: px(30) 0;

      article {
        margin: 0 0 px(20);
        width: px(600);

        > div {

          &.carousel {
            behavior: url('../lib/pie/PIE.htc');
            position: relative;
            overflow: hidden;
            height: auto;
            border-radius: px(8);

            .carousel__items {
              width: px(18000);
              display: flex;
              position: relative;
            }
          }

          .carousel__item {
            behavior: url('../lib/pie/PIE.htc');
            width: px(600);
            height: px(480);
            display: flex;
            flex-wrap: wrap;
            align-content: flex-end; // элементы прижаты снизу вверх
            padding: px(34) px(40) px(20);
            font-family: Montserrat, Arial, sans-serif;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            cursor: auto;

            span {
              padding: px(8) px(20);
              border-radius: px(20);
              background: $spanBackgroundColor;
              font-size: px(20);
              font-weight: 400;
              letter-spacing: 2px;
              text-align: center;
              text-transform: uppercase;
              color: $stepColor;
            }

            h1 {
              width: 100%;
              margin: px(34) 0;
              color: $stepColor;
              font-size: px(48);
              font-weight: 700;
            }

            p {
              width: 100%;
              font-size: px(28);
              font-family: robotothin, Arial, sans-serif;
              color: $descriptionColor;
            }

            &.carousel__item--step1 {
              background-image: url('../img/howitwork/step1.png');
              behavior: url('../lib/pie/PIE.htc');
              -pie-background: url('../img/howitwork/step1.png');
            }

            &.carousel__item--step2 {
              background-image: url('../img/howitwork/step2.png');
              behavior: url('../lib/pie/PIE.htc');
              -pie-background: url('../img/howitwork/step2.png');
            }

            &.carousel__item--step3 {
              background-image: url('../img/howitwork/step3.png');
              behavior: url('../lib/pie/PIE.htc');
              -pie-background: url('../img/howitwork/step3.png');
            }
          }

          .jcarousel-pagination {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &.left {
              left: 0;
            }

            &.right {
              right: 0;
            }
          }

          button {
            width: px(48);
            height: px(87);
            border: 0;
            outline: 0;
          }

          .arrowprevious {
            margin: 0 0 px(36) px(32);
            background: url('../img/howitwork/arrow_previous.png') no-repeat center;
            background-size: contain;
            behavior: url('../lib/pie/PIE.htc');
            -pie-background: url('../img/howitwork/arrow_previous.png') no-repeat center;
          }
          .arrownext {
            margin: 0 px(32) px(36) 0;
            background: url('../img/howitwork/arrow_next.png') no-repeat center;
            background-size: contain;
            behavior: url('../lib/pie/PIE.htc');
            -pie-background: url('../img/howitwork/arrow_next.png') no-repeat center;
          }
        }
      }
    }

  }
}
