$font-color:                 #2a2d32;
$backgroundColor:            #f7f7f7;
$mounthBackgruondColor:      #248cec;
$dayBackgroundColor:         #f4b60d;
$spanColor:                  #0187f4;
$pColor:                     #9d9d9d;
$panelTitleBorderColor:      #e8e8e8;
$panelTitleBackgroundColor:  #fff;
$panelHeaderColor:           #2a2d32;
$pColor:                     #8a8a8a;
$panelActiveBackgroundColor: #f4b60d;
$panelActiveBorderColor:     rgba(0, 0, 0, 0);
