@import '../mobile';

& {
	nav {
		justify-content: space-around;
	}

	h2 {
		margin: 0;
		font-size: px(40);
		line-height: px(80);

		&.promo__h2desktop {
			display: block;
		}

		&.promo__h2mobile {
			display: none;
		}
	}
}
